<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos/head :: head('Listagem Solicitações de Transporte')}"></head>
<body>
<header th:replace="~{fragmentos/header :: header(activePage='SolicitacaoDeTransporte')}"></header>
	<div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
		<h2 class="text-center"
			th:text="${SolicitacaoDeTransporte!= null} ? 'Editar Solicitação' : 'Lista Solicitação'"></h2>
		<div th:if="${message != null}"
			class="alert alert-success alert-dismissible fade show text-center"
			role="alert">
			[[${message}]]
			<button type="button" class="close btn-sm" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
    <a href="/solicitacaoDeTransporte/formulario">Novo</a>
    <div th:if="${lista.size() > 0}">
	    <table class="table table-hover table-responsive-xl">
	        <thead class="thead-light">
	            <tr>
	                <th scope="col">NomeProduto</th>
	                <th scope="col">Comprimento</th>
	                <th scope="col">Largura</th>
	                <th scope="col">Altura</th>
	                <th scope="col">Peso</th>
	                <th scope="col">Caixa</th>
	                <th scope="col">Origem</th>
	                <th scope="col">destino</th>
	                <th scope="col">valor frete</th>
	            </tr>
	        </thead>
	        <tbody>
	         <tr th:each="solicitacaoDeTransporte : ${lista}">
    <td th:text="${solicitacaoDeTransporte.produto.nomeProduto}"></td>
    <td th:text="${solicitacaoDeTransporte.produto.comprimento}"></td>
    <td th:text="${solicitacaoDeTransporte.produto.largura}"></td>
    <td th:text="${solicitacaoDeTransporte.produto.altura}"></td>
    <td th:text="${solicitacaoDeTransporte.produto.peso}"></td>
    <td th:text="${solicitacaoDeTransporte.caixa.modelo}"></td>
    <td th:text="${solicitacaoDeTransporte.origemCep + ' - ' + solicitacaoDeTransporte.origemRua + ', ' + solicitacaoDeTransporte.origemNumero}"></td>
    <td th:text="${solicitacaoDeTransporte.destinoCep + ' - ' + solicitacaoDeTransporte.destinoRua + ', ' + solicitacaoDeTransporte.destinoNumero}"></td>
	<td th:text="${solicitacaoDeTransporte.valorFrete}"></td>
						
						
					<td><a th:href="@{'/solicitacaoDeTransporte/formulario/' + ${solicitacaoDeTransporte.id}}"
							title="Editar a Solicitação"
							class="fa-regular fa-pen-to-square icon-dark"></a> &nbsp; <a
							th:href="@{'/solicitacaoDeTransporte/delete/' + ${solicitacaoDeTransporte.id}}"
							th:SolicitacaoTitle="${solicitacaoDeTransporte.produto.nomeProduto}" id="btnDelete"
							title="Apague esta Solicitação"
							class="fa-regular fa-trash-can icon-dark btn-delete"></a>
					</td>
	            </tr>
	        </tbody>
	    </table>
	  </div>
    </div>
	<div th:replace="fragmentos/footer :: footer"></div>
</body>
</html>